html, body, #root, #router, #side-bar, .main-section {
  height: 100%;
  font-family: 'News Cycle', sans-serif;
}

@media (max-width: 768px) {
  html, body, #root, #router, #side-bar, .main-section {
    width: 100%;
  }
}

#side-bar {
  text-align: center;
}

#introduction {
  position: absolute;
  top: 5%;
}

#links {
  position: absolute;
  top: 30%;
}

#social {
  position: absolute;
  top: 85%;
}

.middle {
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.selected {
  text-decoration: underline;
  color: red;
}

.selected a {
  text-decoration: none !important;
}

.main-section {
  overflow: auto;
  background: #ECEFF1;
  padding: 0;
}

.center-vertical-parent {
  display: table;
  overflow: hidden;
}

.center-vertical {
  display: table-cell;
  vertical-align: middle;
}

#landing {
  text-align: center;
  padding-left: 20px;
  background-image: url('./images/LandingWallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;   
  opacity: 0.9;
}

#landing-content h1 {
  color: white;
  font-size: 8vh;
  text-shadow: 5px 5px 5px #000;
}

#brand {
  font-family: 'Righteous', cursive;
  font-size: 4em;
  text-decoration: underline;
}

#description {
  font-size: 1.5em;
  font-style: italic;
  padding-bottom: 30px;
}

.link {
  display: inline;
  color: inherit;
  font-size: 2em;
  text-align: center;
}

.social-icon {
  padding: 10px 10px;
  cursor: pointer;
}

.page-details {
  width: 100%;
  height: 30%;
  color: white;
}

.page-name h1 {
  color: white;
  font-size: 8vh;
  text-shadow: 5px 5px 5px #000;
}

.img-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;   
  opacity: 0.9;
}

.img-background-About {
  background-image: url('./images/LandingWallpaper.jpg');
}

/* TODO: change img */
.img-background-Portfolio {
  background-image: url('./images/LandingWallpaper.jpg');
}

/* TODO: change img */
.img-background-Experience {
  background-image: url('./images/LandingWallpaper.jpg');
}

.section-band-dark {
  background: #CFD8DC;
}

.band {
  padding: 20px 20px;
}
