html, body, #root, #router, #side-bar, .main-section {
  height: 100%;
  font-family: 'News Cycle', sans-serif;
}

#side-bar {
  padding-top: 20px;
  text-align: center;
}

#introduction {
  position: absolute;
  top: 0%;
}

#links {
  position: absolute;
  top: 30%;
}

#social {
  position: absolute;
  top: 85%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.selected {
  text-decoration: underline;
  color: red;
}

.selected a {
  text-decoration: none;
}

#introduction, #links {
  right: 15%;
}

.main-section {
  padding-left: 20px;
  background: #e5e4e1;
}

#brand {
  font-family: 'Righteous', cursive;
  font-size: 4em;
  text-decoration: underline;
}

#description {
  font-size: 1.5em;
  font-style: italic;
  padding-bottom: 30px;
}

.link {
  display: inline;
  color: inherit;
  font-size: 2em;
  text-align: center;
}

